<po-page-default [p-title]="title">

    <po-table 
        [p-height]="400"
        [p-selectable]="false"
        [p-sort]="true"
        [p-columns]="columns"
        [p-items]="items"
        [p-hide-table-search]="false"
        [p-hide-columns-manager]="true"
        [p-infinite-scroll]="true"
        [p-striped]="true"
        [p-auto-collapse]="true"
        [p-actions]="tableActions">
        
        <ng-template p-table-row-template let-item let-i="index" [p-table-row-template-show]="isUndelivered">
            <div class="po-row">
                <po-info class="po-md-1" p-label="" />
            </div>
        </ng-template>

    </po-table>

</po-page-default>

<po-modal #modalApontamento p-title="Apontamento" p-size="xl">

    <po-dynamic-form #formApontamento po-auto-focus="op" [p-fields]="fieldsApontamento" (validate)="onChangeFieldsApontamento.bind(this)" [p-value]="apontamento"/>

    <po-modal-footer>
        <po-button p-label="Iniciar" p-kind="primary" (p-click)="onButtonIniciarApontamento()" />
        <po-button p-label="Parar" p-kind="primary" (p-click)="onButtonEncerrarApontamento()" />
        <po-button p-label="Gravar" p-kind="primary" (p-click)="onButtonGravarApontamento()" />
        <po-button p-label="Cancelar"  p-kind="secondary" (p-click)="onButtonCancelarApontamento()" />
    </po-modal-footer>

</po-modal>